# 常见的需要忽略的文件和目录
__pycache__/
*.pyc
.DS_Store
.env
venv/
.idea/
.vscode/
.testdemo/
*.log
example/
static/
Requirement.md
app.db-shm
app.db-wal
doc_requirement.md
example.py
main.py
models.py
project.md
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
# 打包相关
# *.egg
# *.egg-info
# dist/
# build/
# eggs/
# parts/
# bin/
# var/
# sdist/
# develop-eggs/
# .installed.cfg
