# 常见的需要忽略的文件和目录
__pycache__/
*.pyc
.DS_Store
.env
venv/
.idea/
.vscode/
*.log
dist/
build/
*.egg-info/
templates/
example/
static/
Requirement.md
app.db-shm
app.db-wal
doc_requirement.md
example.py
main.py
main2.py
models.py
project.md
