{% extends "admin/base.html" %}

{% from "admin/components/data_table.html" import table_scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {# 传递过滤器配置 #}
            {% set filters = frontend_config.filterFields %}
            {% include "admin/components/data_table.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
// 初始化前端配置
window.serverConfig = {{ frontend_config|tojson|safe }};
</script>
{{ table_scripts() }}
{% endblock %} 